*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* nav styling */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1.5em;
    letter-spacing: 0.5;
}

.nav-links li {
    display: inline-block;
    margin: 0 0 0 2em;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
    color: #333;
}

/* main article styling */

.top-post {
    background-image: url(images/laptop-img-3.jpg);
    background-size: cover;
    padding: 8em 2em 3em;
    color: #eee;
    /* text-shadow: 0 0 2px #eee; */
}

.main-heading {
    font-size: 2rem;
    margin: .5em 0;
}

.main-text {
    letter-spacing: 2;
}


/* post links styling */

.all-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 2em auto 2em;
    padding: 0 20px;
}

.blog-tile > img {
    width: 100%;
    height: 250px;
}

/* utilities */


@media (maxwidth: 548px) {
    .hidden {
        display: none;
    }
}



