*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* nav styling */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1.5em;
    letter-spacing: 0.5;
}

.nav-links li {
    display: inline-block;
    margin: 0 0 0 2em;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
    color: #333;
}

/* main article styling */

.top-post {
    background-image: url(images/laptop-img-2.jpg);
    background-size: cover;
    background-position: 10px;
    padding: 10em 2em 5em;
}

.top-post > a {
    text-decoration: none;
    color: #eee;
}

.main-heading,
.article-heading {
    font-size: 2rem;
    margin: .5em 0;
}

.main-text {
    max-width: 700px;
    letter-spacing: 2;
}


/* post links styling */

.all-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 3em auto 1em;
    padding: 0 20px;
}

.blog-tile {
    margin-bottom: 2em;
    letter-spacing: 0.8;
}

img {
    width: 100%;
    height: 250px;
    margin-bottom: 1.2em;
    border-radius: 5px;
    object-fit: cover;
}

.blog-tile > time,
.blog-article > time {
    font-size: 0.875rem;
}

.blog-tile > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.4em 0;
}

.view-more {
    display: none;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: underline;
    margin: 0 auto;
    background-color: transparent;
    border: none;
}


/* main post article */

.blog-article,
.about-me-section {
    margin: 2em auto 3.5em;
    padding: 1.25em;
    max-width: 980px;
}

.blog-article > p,
.about-me-section > p {
    margin: 1.5em 0;
    line-height: 1.2;
}

.recent-post-heading {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}


/* about me */

.flex-container {
    margin-bottom: 3em;
}

.avatar-img {
    width: 182px;
    height: 182px;
    border-radius: 50%;
}

.about-heading {
    margin-bottom: 1em;
}

/* footer styling */

footer {
    text-align: center;
    margin-top: 2.75em;
    padding: 2.375em;
    background-color: #202020;
    color: #fff;
}

.footer-text {
    font-weight: 600;
    letter-spacing: 0.8;
}

.copy-right {
    margin-top: 0.5em;
    font-size: 0.875rem;
    font-weight: 300;
    opacity: 0.6;

}



/* utilities */
.btn {
    font-family: inherit;
}


.btn:hover {
    cursor: pointer;
}



@media (min-width: 650px) {
    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .about-me-opening {
        margin-left: 5%; 
    }
}

@media (max-width: 548px) {
    .hidden {
        display: none;
    }

    .btn {
        display: block;
    }
}



